h2 {
    padding-top: 1em;
    text-align: center;
    margin: 0 auto;
}

th {
    text-align: right; 
}

.pad-under {
    padding-bottom: 0.25em;
}

.title-pad-top {
    padding-top: 1em;
}

#title-pad-left {
    padding-left: 0.5em;
    /* font-weight: 600; */
}

#col-pad-top {
    padding-top: 2em;
}